/* label focus color */
.search input[type=text]:focus + label {
    color: #000 !important;
}
/* label underline focus color */
.search input[type=text]:focus {
    border-bottom: 1px solid rgb(158, 158, 158) !important;
    box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.555) !important;
}
.searchIcon.active{
    color: #000 !important;
}

  /* label color */
  .amount-of-eth label {
    color: #ffab40 !important;
  }
  /* label focus color */
  .amount-of-eth input[type=text]:focus + label {
    color: #ffab40 !important;
  }
  /* label underline focus color */
  .amount-of-eth input[type=text]:focus {
    border-bottom: 1px solid #ffab40 !important;
    box-shadow: 0 0px 0 0 #ffab40 !important;
  }
 
  /* icon prefix focus color */
  .amount-of-eth .active {
    color: #ffab40 !important;
  }